.project__copy {
	max-width: 768px;
	margin: 0 auto;
}

.proto {
	min-width: 100;
	margin: 60px auto;
	padding: 0 10px;
	overflow-x: auto;
}

.proto__scroll {
	min-width: 1024px;
	overflow: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.proto__image {
	margin: 15px;
	max-width: 50%;
	min-width: 25%;
}

.proto__image:only-child {
	margin: 15px auto;
	width: 75%;
	max-width: 1024px;
}

.proto__image:first-child:nth-last-child(2),
.proto__image:first-child:nth-last-child(2) ~ .proto__image {
	margin: 15px auto;
}

.proto__image img {
	width: 100%;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
}